/***********************************************
 * Client side configuration
 ********************************************* */

if(Meteor.isClient){
    Accounts.ui.config({
        passwordSignupFields: 'EMAIL_ONLY'
    });

    // Default language for the application
    Meteor.setLocale('en_GB');

    //FilePicker API Key
    Meteor.filePickerKey = "";
    Meteor.fpUrl = "https://www.filepicker.io/api/file/";
    Meteor.googleMapApiKey = "";
}


/***********************************************
 * Server side configuration
 * *********************************************/

if(Meteor.isServer){
    /*
     Users configuration
     */
    // What fields are public for everyone
    Meteor.users.publicProfileInformation = {
        // show selected information
        'profile.name' : 1,
        'profile.dobtime': 1,
        'profile.gender': 1,
        'profile.picture': 1,
        'profile.geocoding': 1
    };
    // What fields are reserved for friends only
    Meteor.users.privateProfileInformation = {
        'profile': 1 // show all profile
    };

    // What field I can see about myself
    Meteor.users.myProfileInformation = {
        'profile': 1,
        'friends': 1,
        'settings': 1,
        'profile_complete': 1
    };


    /*
     Post cooldown configuration
     */
    // Duration to measure velocity (default 2 minutes).
    Cooldown.velocityCaliber = 30*1000;
    // If target user is online, how many messages per velocityCaliber millisecond can the emitter send
    Cooldown.onlineMaxVelocity = 15;
    // If target is offline
    Cooldown.offlineMaxVelocity = 5;
    // Cooldown penalty (def: 1 minute)
    Cooldown.cooldownPenalty = 10*1000;

    //    List of visible activities (= stuff we show in the newsfeed)
    Activities.publicActivities = ['accepted_friend_request','update_profile', 'update_profile_picture'];

    // Best variable name ever. When user triggers several identical activities in a row, we don't create a new one
    // but update the previous one. How long until we actually create a new one.
    Activities.delayForIgnore = 1000*60*2;
}

/* *****************************************************
 A bit of both
 ***************************************************** */

/*
 Various display options.
 */
// How many messages to display per page, for the mailbox.
Messages.messagePerPage = 20;

// number of items to show in the newsfeed
Activities.activitiesPerPage = 10;

Newsfeed = {
    activitiesPerPage: Activities.activitiesPerPage
};

// Number of search result per query.
Meteor.users.searchResultsLimit = 12;

/*
 User posted Photos configuration, stored on filepicker.io
 */
// Fields people can change
Photos.authorizedFields = ['main'];
// Max number of file per user (-1 = infinite)
Photos.maxFilePerUser = -1;

/*
 Check user presence configuration
 */
// How often do we update presence (ms)
Presences.checkInterval = 2000;
// How long before a user is considered out (ms).
Presences.TimeOut = 10000;

// Google Map widget configuration
Meteor.GMap = {};
Meteor.GMap.defaultLocation = [45.490946,2.504883];
Meteor.GMap.defaultZoomLevel = 5;
Meteor.GMap.minZoomLevel = 4;
Meteor.GMap.maxZoomLevel = 6;
// Order list of favorite type for the reverse geocoding. Sort by preference order and the algorithm will try to pick the best match.
Meteor.GMap.favoriteGeocodingType = ['administrative_area_level_2', 'administrative_area_level_1', 'locality', 'country'];

// User profile creation process
Meteor.profileCreation = {};
Meteor.profileCreation.numberOfStep = 3;
// Profile won't be validated/completed/published until all those profile fields are set.
Meteor.profileCreation.requiredFieldForCompletion = ['name','location','gender','picture','geocoding','dob'];