<template name="header">
    <header class="navbar">
        <div class="navbar-inner">
            <a class="brand" href="/">Socialite</a>

            <ul class="nav pull-right">
                {{#if currentUser}}
                {{#if profileComplete}}
                <li class="dropdown">
                    {{> mailbox_header}}
                </li>
                <li class="dropdown">
                    {{> notifications}}
                </li>
                <li class="{{activeRouteClass 'search'}}">
                    <a href="{{searchPath}}"><i class="icon-search"> </i></a>
                </li>
                <li class="{{activeRouteClass 'settings'}} dropdown">
                    <a href="#" class="dropdown-toggle" title="Settings" data-toggle="dropdown">
                        <i class="icon-cog"> </i>
                    </a>
                    <ul class="settings dropdown-menu">
                        <li><a href="{{settingsPath}}">Your account</a></li>
                        <li><a href="{{profilePath}}">Your profile</a></li>
                        <li><a href="{{editProfilePath}}">Edit your profile</a></li>
                    </ul>

                </li>
                {{/if}}
                {{/if}}
                <li>{{loginButtons}}</li>

            </ul>
        </div>
    </header>
</template>