<template name="header">
    <header class="navbar">
        <div class="navbar-inner">
            <a class="brand" href="/">Socialite</a>
            {{#if currentUser}}
            <ul class="nav">
                <li class="{{activeRouteClass 'profile'}}">
                    <a href="{{profilePath}}">Profile</a>
                </li>
                <li class="{{activeRouteClass 'profile'}}">
                    <a href="{{searchPath}}"><i class="icon-search"> </i></a>
                </li>

            </ul>
            {{/if}}
            <ul class="nav pull-right">
                <li class="dropdown">
                    {{> mailbox_header}}
                </li>
                <li class="dropdown">
                    {{> notifications}}
                </li>

                <li>{{loginButtons}}</li>
                {{#if currentUser}}
                <li class="{{activeRouteClass 'settings'}}">
                    <a href="{{settingsPath}}"><i class="icon-cog"> </i></a>
                </li>
                {{/if}}
            </ul>

        </div>
    </header>
</template>