<template name="form_field_text">
    <div class="control-group">
        <label class="control-label {{class}}" for="{{domid}}">{{Lex label}}</label>
        <div class="controls">
            <input type="{{type}}" id="{{domid}}" data-validate='{{validation}}' data-id="{{docid}}" placeholder="{{Lex placeholder}}" value="{{value}}" />
            {{#if required}}<span class="required">* </span>{{/if}}
            <span class="help-inline">{{Lex help}}</span>
        </div>
    </div>
</template>


<template name="form_field_datepicker">
    <div class="control-group">
        <label class="control-label {{class}}" for="{{domid}}">{{Lex label}}</label>

        <div class="input-append date" id="{{domid}}" data-date="{{value}}" data-date-format="dd-mm-yyyy" data-date-viewmode="years">
            <input type="text" value="{{value}}" data-validate='{{validation}}'  data-id="{{docid}}" readonly>
            <span class="add-on"><i class="icon-calendar"></i></span>
            {{#if required}}<span class="required">* </span>{{/if}}
            <span class="help-inline">{{Lex help}}</span>
        </div>
    </div>
</template>

<template name="form_field_dropdown">
    <div class="control-group">
        <label class="control-label {{class}}" for="{{domid}}">{{Lex label}}</label>

        <div class="controls">
            <select id="{{domid}}" data-validate='{{validation}}' data-id="{{docid}}">
                {{#each options}}
                    <option value="{{value}}">{{#if text}}{{Lex text}}{{/if}}</option>
                {{/each}}
            </select>
        </div>
    </div>
</template>

<template name="form_location">
    <div class="control-group">
        <a class="btn btn-success geolocalisation" href="#">{{Lex 'question.find_your_location'}}</a>
        <a class="btn btn-info show_map" role="button" href="#map" data-toggle="modal">{{Lex 'question.pick_on_the_map'}}</a>

        <input type="hidden" name="{{name}}" id="{{domid}}" value="{{value}}"  data-id="{{docid}}" />

        <div id="map" class="modal hide fade">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3>Point your location on the map</h3>
                <p>{{Lex help}}</p>
            </div>
            <div class="modal-body">
                <div id="googlemap">{{> loading}}</div>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn" data-dismiss="modal">Cancel</a>
                <a href="#" class="btn btn-primary disabled save_change">Ok</a>
            </div>
        </div>

    </div>
</template>

<template name="form_geocoding">
    <div class="control-group">
        <input type="hidden" name="{{name}}" value="{{value}}" id="{{domid}}"  data-id="{{docid}}" />
        {{Lex label}}:<span id="geocoding_target">{{#if value}}{{value}}{{else}}{{Lex 'question.unknown'}}{{/if}}</span>
    </div>
</template>