
<template name="login">
    <form id="login-form">
        <div>
            <label for="login-email">{{Lex 'default.email'}}
                <input type="email" id="login-email" name="email" />
            </label>
            <label for="login-password">{{Lex 'default.password'}}
                <input type="password" id="login-password" name="password" />
            </label>

            <button type="submit" class="btn btn-primary" id="login-button">{{Lex 'default.login'}}</button>
            <button class="btn" id="create-account">{{Lex 'default.account_create'}}</button>
        </div>
    </form>
</template>