<template name="register">
    <form id="register-form">
        <div>

            <p class="error">{{register_errors.general}}</p>
            <label for="login-email">{{Lex 'default.email'}}
                <input type="email" name="email" id="login-email" value="eprochasson@gmail.com" />
                {{#if register_errors.email}}{{register_errors.email}}{{/if}}
            </label>
            <label for="login-password">{{Lex 'default.password'}}
                <input type="password" id="login-password" value="bonjour"/>
                {{#if register_errors.password}}{{register_errors.password}}{{/if}}
            </label>
            <label for="login-password-confirmation">{{Lex 'default.password_confirmation'}}
                <input type="password" id="login-password-confirmation" value="bonjour" />

            </label>

            <button type="submit" class="btn btn-primary" id="login-button">{{Lex 'default.account_create'}}</button>
            <a class="btn" id="cancel">{{Lex 'default.cancel'}}</a>
        </div>
    </form>
</template>