<template name="news_now_friend">
    {{#if isValid}}
        {{from.profile.name}} and {{to.profile.name}} are now friends ({{when}})
    {{/if}}
</template>

<template name="news_update_profile">
    {{#if isValid}}
        {{from.profile.name}} update his profile! ({{when}})
    {{/if}}

</template>

<template name="news_update_profile_picture">
    {{#if isValid}}
        {{from.profile.name}} update his profile picture! ({{when}})
        <img src="{{thumbnail from.profile.picture 200 200}}" />
    {{/if}}
</template>

<template name="news_info">
    This is the default template. Should not happen
</template>