<template name="online_friends">

    {{#if count}}
    You have {{count}} friend(s) online
    <ul>
        {{#with onlinefriends}}
        {{#each friends}}
            {{> online_friend}}
        {{/each}}
        {{/with}}
    </ul>
    {{else}}
    No friend online
    {{/if}}
</template>

<template name="online_friend">
    <li><img src="{{thumbnail profile.picture 100 100 'max'}}" /><a href="{{profilePath}}/{{_id}}">{{profile.name}}</a> is online (<a class="startChat" href="#">chat</a>)</a></li>
</template>